# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* Using JupyterLite
* Creating and sharing notebooks
* Using markdown cells
* List popular data science languages and libraries

Some of the popular languages that Data Scientists use are:
    
1. Python
2. R
3. Julia
4. Scala
5. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Scikit
4. Keras
5. Tensorflow

|Data Science Tools|
--------------------
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmeticexpression to mutiply then add integers

In [2]:
(3*4)+5

17

In [3]:
#This will convert 200 minutes tohours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
≈Ωeljka